.col-2, .col-3 , .col-4, .row {

}

.navbar {
  height: 50px;
}

.content {
  height: 90vh;
}

.photo-profile {
  width: 50px;
  margin-top: 10px;
}

.post-item {
  margin: 0 0 10px 0;
}

.content{
  padding-top: 10px;
}

.logo-image-nav {
  margin-right: 10px;
}

a {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

a:hover {
  color: #17A2B8 !important;
  border-bottom: 2px solid #17A2B8;
}

.warpper-content{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


#nav-lateral-list {
  margin-bottom: 10px;
}


.title-main-content {
  margin: 10px;
}